.buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 100vw;
}

.icono-filt{
    margin-left: 10px;
    width: 10vw;
}

.icono-filtro{
    height: 29px;
    width: 20px;
}
.conta-buscar-f {
    border: 1px solid #9cb6b8;
    border-radius: 20px;
    /* margin-top: 25px; */
    padding: 0 20px;
    width: 80vw;
}

.conta-buscar-f input {
    border: 0;
    width: 80vw;
}

.conta-buscar-f img {
    width: 20px;
}