.carta-novedades {
    border-radius: 10px;
    border: 3px solid #FA9C92;
    margin: 30px 5px;
}

.text-novedades {
    background-color: #FA9C92;
}

.img-novedades {
    width: 100%;
}

.img-novedades img {
    width: 100%;

    object-fit: cover;
}

.text-novedades h2 {
    margin: 0;
    padding: 15px;
    color: white;
    font-size: 20px;
}

.titl {
    border-top: 1px solid #9cb6b8;
    margin: 20px;
    color: #00748E;
}

.titl h3 {
    padding: 10px;
}

.contenedor-novedades {
    margin: 10px;
}

.boton-indiv {
    margin: 3px;
}

.c-content {
    border-radius: 15px;
    box-shadow: #00748E;
}

.imagen {
    margin: 10px;
    width: 20%;
}

.imagen img {
    width: 100%;
}

.d-flex h2 {
    font-size: 23px;
    color: #00748E;

}

.d-flex p {
    font-weight: 600;
    font-size: 13px;
}

.d-flex {
    padding: 7px;
}

.sombra {

    border-radius: 17px;
    box-shadow: 0px 7px 23px #00748E;
}