.perfil {
    width: 100vw;
}

.usuario-p {
    align-content: center;
}

.contenedor {
    border: 1px solid #00748E;
    margin: 10px 0px;
    padding: 0 30px;
    border-radius: 10px;
    color: #00748E;
}

.contenedor-p {
    width: 100%;
    min-height: 100vh;
}

.c-h h4 {
    padding: 10px;
    font-size: 15px;
    margin: 10px;
}

.c-h img {
    width: 30px;
}


.perfil-img {
    width: 100%;
    height: 100%;
    padding: 7%;
}

.a-img img {
    max-width: 35%;
}

.i-arrow img {
    width: 10px;
}

.r-w {
    padding: 0 10px;
}

.contenedor-ul {
    margin-bottom: 50px;
}